@{
    ViewData["Title"] = "Profesionales";
}

<div class="center-item welcome">
    <div class="item">
        <h1 class="h1">Bienvenido a tu pàgina de profesiones <mark>favorita</mark></h1>

        <div class="container px-5 text-center">
          <div class="row gx-5">
            <div class="col">
                <a class="m-3 btn btn-primary btn-lg" asp-controller="Profesionales">Profesionales</a>
            </div>
            <div class="col">
                <a class="m-3 btn btn-primary btn-lg" asp-controller="Actividades">Actividades</a>
            </div>
          </div>
        </div>
    </div>
</div>
